.review-card{
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
    height: 570px;
}
.items{
    padding: 10px;
}
.image{
    height: 400px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}