.blue-part{
    color: #00B8E0;
}

.red-part{
    color: #FF6359;
}

.button{
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 12px;
    background-color: #242582;
}
.button:hover{
    color: white;
    background-color: #FF6359;
    transition: 0.1s;
}